@CHARSET "UTF-8";
/**
 * SHORTCODES Tool
 * @package WordPress
 * @subpackage Woodkit
 * @since Woodkit 1.0
 * @author Sébastien Chandonay www.seb-c.com / Cyril Tissot www.cyriltissot.com
 */
.mce-ico.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#columnspicker-content .title,#columnspicker-content .style {
	text-align: center;
}

#columnspicker-content .columns-items {
	float: left;
	width: 48%;
	position: relative;
	border-right: 1px solid #F3F3F3;
	height: 100%;
}

#columnspicker-content .columns-item {
	position: relative;
	cursor: pointer;
	padding: 3px;
	border: 1px solid #F7F7F7;
	width: 300px;
	text-align: center;
	margin: 0 auto 3px auto;
	font-size: 12px;
	line-height: 1;
}

#columnspicker-content .columns-item span {
	position: absolute;
	right: 0;
	top: 8px;
	width: 100px;
}

#columnspicker-content .columns-item:hover,#columnspicker-content .columns-item:focus,#columnspicker-content .columns-item:active
	{
	border-color: #0085ba;
}

#columnspicker-content .columns-item table {
	width: 200px;
	border-collapse: separate;
}

#columnspicker-content .columns-item table td {
	padding: 6px 3px;
	border: 1px dashed #0085ba;
}

#columnspicker-content .columns-item table td.a {
	border-style: solid;
}

#columnspicker-content .columns-item table .inv td {
	padding: 0 3px;
	border: none;
}

#columnspicker-content .columns-style {
	float: left;
	width: 48%;
	position: relative;
	height: 100%;
}

.columns-style .style-wrapper {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 50%;
	right: 50%;
	margin: -100px -100px auto auto;
	border: 1px dashed #cccccc;
}

.columns-style .style-wrapper input{
	width: 42px;
}

.columns-style .style-wrapper .columns-style-field{
	position: absolute;
	background: #FFF;
	padding: 6px;
}

.columns-style .style-wrapper .columns-style-field:after{
	content: "px";
	right: -6px;
	top: 0;
}

.columns-style .style-wrapper .columns-style-top{
	top: -21px;
	right: 50%;
	margin-right: -33px;
}

.columns-style .style-wrapper .columns-style-right{
	top: 50%;
	right: -41px;
	margin-top: -21px;
}

.columns-style .style-wrapper .columns-style-bottom{
	bottom: -21px;
	right: 50%;
	margin-right: -33px;
}

.columns-style .style-wrapper .columns-style-left{
	top: 50%;
	left: -31px;
	margin-top: -21px;
}