@CHARSET "UTF-8";

.optionsmanager-container .item{
	padding: 3px 0 3px 3px;
	margin: 0 0 3px 0;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #F1F1F1;
	border: 1px solid #E9E9E9;
	border-right: none;
	border-left: 36px solid #ECA400;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.optionsmanager-container .item:hover,
.optionsmanager-container .item:focus,
.optionsmanager-container .item:active{
	border-top-color: #c9c9c9;
	border-bottom-color: #c9c9c9;
}

.optionsmanager-container .item .move{
	position: absolute;
	top: 0;
	left: -36px;
	font-size: 19px;
	cursor: move;
	padding: 9px 16px 7px 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.optionsmanager-container .sortable-placeholder{
	height: 30px;
	margin: 0 0 3px 0;
	background: #fff;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.optionsmanager-container .item .delete{
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 14px;
	background: #ECA400;
	color: #444;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.options-manager .btn.add-option {
	background: #ECA400;
	color: #444;
}

.options-manager .btn.add-option i{
	margin: 0 6px 0 0;
}