@CHARSET "UTF-8";
/**
 * WIP Tool
 * @package WordPress
 * @subpackage Woodkit
 * @since Woodkit 1.0
 * @author Sébastien Chandonay www.seb-c.com / Cyril Tissot www.cyriltissot.com
 */
body.wip {
	margin: 0;
	text-align: center;
	font-family: Helvetica;
	background: #000;
}

body.wip h1{
	margin: 0 0 1.2rem 0;
}

#wip-page {
	margin: 0 auto;
	margin-top: 10%;
	padding: 24px 0;
	max-width: 320px;
	position: relative;
	color: #fff;
}

#wip-page .wip-message {
	margin: 24px 0;
}