@CHARSET "UTF-8";

::-webkit-input-placeholder {
	color: rgba(124, 124, 124, 1);
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
}

:-moz-placeholder {
	color: rgba(124, 124, 124, 1);
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem
}

::-moz-placeholder {
	color: rgba(124, 124, 124, 1);
	opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem
}

:-ms-input-placeholder {
	color: rgba(124, 124, 124, 1);
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
}

html{
	background: #000;
}
body.login{
	background: none;
	padding: 0 0 0 0;
	height: auto;
}
#login {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -160px;
	padding: 0;
	width: 320px;
    background: rgba(0, 0, 0, 0.5);
}
.login-interim #login,
.interim-login #login,
iframe #login {
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
.login .message{
	background: transparent;
	border: none;
	text-align: center;
    box-shadow: none;
    padding: 24px 24px 0 24px;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
}
.login #login_error{
	background: transparent;
	border: none;
	text-align: center;
    box-shadow: none;
    padding: 24px 24px 0 24px;
	color: #ccc;
	font-weight: 300;
}
.login form {
    background: transparent;
    box-shadow: none;
    margin-top: 0;
	padding: 17px 24px 0 24px;
}
.login form input[type='text'],
.login form input[type='password'],
.login form input[type='email'],
.login form input[type='number'],
.login form input[type='submit'].button-large{
    height: 60px;
    font-size: 1.1rem;
    line-height: 1.5rem;
	width: 100%;
	padding: 3px;
	margin: 0 0 3px 0;
	text-align: center;
	border: none;
	font-weight: 300;
	background: #fff;
}
.login form input[type='text']:focus,
.login form input[type='password']:focus,
.login form input[type='email']:focus,
.login form input[type='number']:focus,
.login form input[type='submit'].button-large:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.login form input[type='submit'].button-large{
	margin: 18px 0 0 0;
	background: rgba(255,255,255,0.1);
	border: 1px solid #ffffff;
	color: #ffffff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-transform: uppercase;

}
.login form input[type='submit'].button-large:hover{
	background: rgba(255,255,255,0.3);
}
.login form .button.active,
.login form .button.active:hover,
.login form .button:active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
#login form p.submit{
	padding: 0;
}
.login form p{
}
.login label{
    color: rgba(255, 255, 255, 1);
}
.login a{
	color: #777777;
	text-decoration: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.login #nav a:hover,
.login #nav a:focus,
.login #nav a:active{
	color: #999999;
	text-decoration: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.login a:hover{
	color: #999999;
}
.login h1{
	display: none;
}
.login #nav,
.login form .forgetmenot{
}
.login form .forgetmenot{
	display: block;
	float: none;
	text-align: center;
	padding: 0;
	margin: 18px 0 0 0;
	text-align: center;
}
.login #nav{
	position: relative;
	text-align: center;
	padding: 0;
	margin: 18px 0 0 0;
	padding: 0 24px 0 24px;
	border-top: 1px solid #000;
}
.login #nav a{
	color: #999999;
	display: block;
	width: 100%;
	text-align: center;
}
.login #nav a.registration-url,
.login-action-register #nav a:first-child,
.login-action-lostpassword #nav a:first-child{
	background: #000;
	color: #fff;
	text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1.5rem;
	width: 100%;
	padding: 17px 0;
	margin: 0 0 12px 0;
	font-weight: 300;
}
.login #backtoblog{
	display: none;
}
.login form .forgetmenot label{
	color: #ccc;
}
.login form .forgetmenot input{
	background-color: #ccc;
	border-color: #777;
}
#login form p.captcha-error{
	text-align: center;
	color: #ccc;
	font-weight: 300;
	margin-bottom: 3px;
}
.login #registerform #reg_passmail {
	color: #ccc;
	text-align: center;
	font-weight: 300;
	margin: 12px 0;
}
.login #registerform br.clear {
	display: none;
}
.login .privacy-policy-page-link{
	margin-top: 4px;
}


/**
 * Tool Cookies
 */
.cookies-legislation-container {
	position: fixed;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	color: #fff;
	width: auto;
	height: auto;
	font-size: 0.8em;
	font-weight: normal;
	padding: 12px;
	z-index: 9999;
}
.cookies-legislation-container #cookies-accept-condition {
	position: absolute;
	right: 12px;
	bottom: 6px;
	font-size: 1em;
	font-weight: normal;
	border: 1px solid #fff;
	color: #fff;
	background: #000;
}
.cookies-legislation-container #cookies-accept-condition:hover {
	background: #fff;
	color: #000;
}
.cookies-legislation-container a {
	color: #fff;
	text-decoration: underline;
}

/**
 * Tool Secure
 */
.tool-secure-input-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}
.login .tool-secure-input-wrapper {
	padding-bottom: 0;
}
.tool-secure-input-wrapper .tool-secure-input {
	
}
.tool-secure-input-wrapper .tool-secure-show-info {
	position: absolute;
	display: block;
	top: 1px;
	right: 10px;
	bottom: 1px;
	background-color: transparent;
	cursor: pointer;
	width: 50px;
	text-align: center;
	padding: 17px 0 0 0;
	color: rgb(109, 109, 109);
	font-size: 1.5rem;
}
.login .tool-secure-input-wrapper .tool-secure-show-info {
	padding: 20px 0 0 0;
	font-size: 1.3rem;
}
.login .tool-secure-input-wrapper .tool-secure-info-text {
	color: #fff;
	padding-bottom: 3px;
	text-align: center;
	font-style: italic;
	font-size: 12px;
	display: none;
}
.login .tool-secure-input-wrapper .tool-secure-info-text.visible{
	display: block;
}
/** lost password */
body.login-action-lostpassword .login #nav,
body.login-action-rp .login #nav{
	display: none;
}