@CHARSET "UTF-8";

#login {
	background: rgba(220,220,220, 0.7);
	padding-bottom: 24px;
}

/**
 * Tool Cookies
 */
.cookies-legislation-container {
	position: fixed;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	color: #fff;
	width: auto;
	height: auto;
	font-size: 0.8em;
	font-weight: normal;
	padding: 12px;
	z-index: 9999;
}
.cookies-legislation-container #cookies-accept-condition {
	position: absolute;
	right: 12px;
	bottom: 6px;
	font-size: 1em;
	font-weight: normal;
	border: 1px solid #fff;
	color: #fff;
	background: #000;
}
.cookies-legislation-container #cookies-accept-condition:hover {
	background: #fff;
	color: #000;
}
.cookies-legislation-container a {
	color: #fff;
	text-decoration: underline;
}

/**
 * Tool Secure
 */
.tool-secure-input-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}
.login .tool-secure-input-wrapper {
	padding-bottom: 0;
}
.tool-secure-input-wrapper .tool-secure-input {
	
}
.tool-secure-input-wrapper .tool-secure-show-info {
	position: absolute;
	display: block;
	top: 1px;
	right: 5px;
	bottom: 1px;
	background-color: transparent;
	cursor: pointer;
	width: 50px;
	text-align: center;
	padding: 17px 0 0 0;
	color: rgb(109, 109, 109);
	font-size: 1.5rem;
}
.login .tool-secure-input-wrapper .tool-secure-show-info {
	padding: 11px 0 0 0;
	font-size: 1.3rem;
}
.login .tool-secure-input-wrapper .tool-secure-info-text {
	color: #000000;
	padding-bottom: 3px;
	text-align: center;
	font-style: italic;
	font-size: 12px;
	display: none;
}
.login .tool-secure-input-wrapper .tool-secure-info-text.visible{
	display: block;
}
/** lost password */
body.login-action-lostpassword .login #nav,
body.login-action-rp .login #nav{
	display: none;
}