@CHARSET "UTF-8";

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: rgba(174, 174, 174, 1);
	font-weight: lighter;
	text-transform: lowercase;
}

:-moz-placeholder {
	color: rgba(174, 174, 174, 1);
	font-weight: lighter;c
	text-transform: lowercase;
}

::-moz-placeholder {
	color: rgba(174, 174, 174, 1);
	font-weight: lighter;
	opacity: 1;
	text-transform: lowercase;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: rgba(174, 174, 174, 1);
	font-weight: lighter;
	text-transform: lowercase;
}


/* NOTES
- Options à la place de réglages
- Activation de Woodkit
- Majuscules sur tool.description


/** ---- DIVI INSPIRATION ---- **/
#woodkit-customfields .custom-fields-section-header {
    margin: 0 !important;
}

#woodkit-customfields h2.hndle.ui-sortable-handle {
}

#woodkit-customfields .inside{
	margin: 0 0 20px 0;
	padding: 0;
}

#woodkit-customfields .custom-fields-section-header h3 {
	font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-color: #114C7F;/*#6C2EB9*/
    padding: 20px;
    border-bottom: 0;
    line-height: 18px;
    position: relative;
    margin: 0;
       border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
}

.custom-fields-section {
	border-bottom: 0 !important;
    padding: 0 !important;
    margin: 0 0 20px 0;
}

.custom-fields-section-content {
    padding: 12px !important;
}


/**
 * WOODKIT CONFIG OPTIONS
 */
.menu-top .toplevel_page_woodkit_options .wp-menu-image.dashicons-before:before{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f135";
}

.toplevel_page_woodkit_options #wpcontent{
	background: #fff;
}
/* --------------------- */
.toplevel_page_woodkit_options .wrap>h2:first-child {
    font-weight: 100;
    font-size: 24px;
    color: #000;
    border-bottom: 0;
    line-height: 18px;
    text-transform: none;
    letter-spacing: 0 !important;
    -webkit-font-smoothing: subpixel-antialiased;
}

.toplevel_page_woodkit_options form {
	max-width: 900px;
	background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba( 0, 0, 0, 0.06 );
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    position: relative;
    z-index: 0;
    margin-top: 25px;
}

.toplevel_page_woodkit_options form h2 {
	font-weight: 100 !important;
    font-size: 18px;
    color: #fff;
    background-color: #114C7F;
    padding: 25px !important;
    border-bottom: 0;
    line-height: 18px;
    position: relative;
    margin: 0 !important;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-top: 0;
}

.toplevel_page_woodkit_options form h2 .tool-documentation {
	margin-right: 0;
	float: right;
	color: #FFF;
	font-size: 1.2rem;
}

.toplevel_page_woodkit_options form h2 .tool-documentation:hover {
	color: #00C3AA;
}

.toplevel_page_woodkit_options form p.tool-description {
    padding: 10px 20px 0;
    margin: 0 !important;
}

.toplevel_page_woodkit_options form p.tool-description:before {
    font: normal normal normal 2px/1 FontAwesome;
    font-size: inherit;
    content: "\f105\00a0\00a0";
}

.toplevel_page_woodkit_options form input[type='checkbox'] {
    margin: 0 20px 0 0;
}


.toplevel_page_woodkit_options form p.field-description {
    padding: 0;
    margin: 0;
}


.toplevel_page_woodkit_options form .form-table  {
    padding: 20px 40px; /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    HAD DIV BEFORE TABLE */
    margin: 0;
    display: none; 
    width: auto;
}

.toplevel_page_woodkit_options form .tool-description,
.toplevel_page_woodkit_options form .form-table,
.toplevel_page_woodkit_options form p.submit { display: block; -webkit-animation: helloworld .7s; animation: helloworld .7s; }


/*------------------------------------------------*/
/*-------------------[ANIMATION]------------------*/
/*------------------------------------------------*/
@-webkit-keyframes helloworld { 0% { -ms-transform: translate(-20px,0); -webkit-transform: translate(-20px,0); transform: translate(-20px,0); opacity: 0; } 100% { -ms-transform: translate(0,0); -webkit-transform: translate(0,0); transform: translate(0,0); opacity: 1; } }
@keyframes helloworld { 0% {-ms-transform: translate(-20px,0); -webkit-transform: translate(-20px,0); transform: translate(-20px,0); opacity: 0;} 100% { -ms-transform: translate(0,0); -webkit-transform: translate(0,0); transform: translate(0,0); opacity: 1;} }


.toplevel_page_woodkit_options form .form-table td,.toplevel_page_woodkit_options form .form-table th {
	vertical-align: baseline;
	padding: 6px 0 !important;
}

.toplevel_page_woodkit_options form .form-table th {
}

.toplevel_page_woodkit_options form input[type='text'],
.toplevel_page_woodkit_options form select,
.toplevel_page_woodkit_options form textarea {
	border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 0;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: #F1F5F9;
    padding: 10px !important;
    font-size: 14px;
    color: #000;
    width: 200px;
}

.toplevel_page_woodkit_options form input[type='text']:focus,
.toplevel_page_woodkit_options form select:focus,
.toplevel_page_woodkit_options form textarea:focus,
.toplevel_page_woodkit_options form select:focus {
	-webkit-transition: background .1s;
    -moz-transition: background .1s;
    transition: background .1s;
	background-color: #E0E5EA
}

.toplevel_page_woodkit_options form select {
	height: 40px;
}

.toplevel_page_woodkit_options form a.button {
    color: #FFF;
    background-color: #00C3AA;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0 20px;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-transform: uppercase;
    text-shadow: none;
    overflow: hidden;
}

.toplevel_page_woodkit_options form a.button,
.toplevel_page_woodkit_options form a.button:before,
.toplevel_page_woodkit_options form input.button {
	transition: all 0.3s; 
	-moz-transition: all 0.3s; 
	-webkit-transition: all 0.3s;
}

.toplevel_page_woodkit_options form a.button.get-a-key:before {
	position: absolute;
    background-color: #656b72;
    width: 32px;
    line-height: 40px;
    top: 0;
    left: -44px;
    padding-left: 12px !important;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f084';
    font-family: 'FontAwesome';
    font-size: 22px;
}

.toplevel_page_woodkit_options form a.button.get-a-key:hover { 
	background-color: #4D565F !important;
	color: #FFF;
	padding: 0 10px 0 52px;
}

.toplevel_page_woodkit_options form a.button.get-a-key:hover:before { 
	left: 0px;
}


.toplevel_page_woodkit_options form p.submit {
	margin: 10px 0 40px 0;
	padding: 0;
}

.toplevel_page_woodkit_options form p.submit input.button {
    color: #FFF;
    background-color: #00C3AA;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-weight: 100;
    height: 53px;
    line-height: 53px;
    margin: 4px 0 0;
    position: relative;
    text-shadow: none;
}

.toplevel_page_woodkit_options form p.submit input.button:hover { 
	background-color: #4D565F !important;
	color: #FFF;
}

.toplevel_page_woodkit_options form code {
	display: inline-block;
	margin: 3px 0 0;
	font-family: monospace;
}
/* --------------------- */

.toplevel_page_woodkit_options form p.submit {
	text-align: right;
}

.toplevel_page_woodkit_options form h2 {
	padding: 24px 0 0 0;
	/*border-top: 1px solid #ddd;*/
}

.toplevel_page_woodkit_options form h2 .tool-documentation {
	margin-right: 0;
	float: right;
	color: #FFF;
	font-size: 1.2rem;
}

.toplevel_page_woodkit_options form .tool-description {
	font-size: 0.8rem;
}

.toplevel_page_woodkit_options form .form-table {
	background: #fff;
}

.toplevel_page_woodkit_options form .form-table .field-description {
	font-size: 0.8rem;
	margin-top: 12px;
}

.toplevel_page_woodkit_options form .form-table td,.toplevel_page_woodkit_options form .form-table th
	{
	vertical-align: baseline;
	padding: 12px;
}

.toplevel_page_woodkit_options form .form-table th {
	font-weight: normal;
}

/**
	* WOODKIT FIELDS
*/
.custom-fields-section {
	position: relative; /* do not remove */
	border-bottom: 1px solid #ccc;
	/*padding: 24px 0;*/
}

.custom-fields-section-header {
	/*margin: 0 0 12px 0;*/
}

.custom-fields-section-header em {
	font-size: 12px;
}

.custom-fields-section-header em a{
	color: #fff;
}

.custom-fields-section-content * em {
	color: #114C7F;
}

.custom-fields-section-content {
	
}

.custom-fields-section-content .fields {
	width: auto;
	/*margin-left: 24px;*/
}

.custom-fields-section-content .fields.full-width {
	width: 100%;
}

.custom-fields-section-content .fields th.metabox_label_column {
	width: 225px;
}

.custom-fields-section-content .fields td,.custom-fields-section-content .fields th
	{
	/*padding: 0 6px;*/
}

.custom-fields-section-content .fields select,.custom-fields-section-content .fields input[type='text']
	{
	min-width: 150px;
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.custom-fields-section-content .fields input[type='number']
	{
	max-width: 70px;
	width: 100%;
}

.custom-fields-section-side .custom-fields-section-content .fields select,.custom-fields-section-side .custom-fields-section-content .fields input[type='text']
	{
	min-width: 50px;
}

/**
	* GALLERY
*/
#gallery-presentation-setup .gallery-item-setup {
	position: absolute;
	top: 6px;
	right: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.8)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(             startColorstr='#ccffffff',
		endColorstr='#ccffffff', GradientType=0); /* IE6-8 */
}

#gallery-presentation-setup .gallery-item-setup .field-icon {
	text-align: center;
	padding: 0 3px 0 6px;
}

/**
	* FEATURED VIDEO
 */
#featured-video-preview {
	margin-top: 12px;
}

#featured-video-preview li {
	margin-left: 32px;
	list-style-type: square;
}

/**
	* MASONRY & ISOTOPE
 */
.masonry-item,.isotope-item {
	
}

.masonry-item .has-mask,.isotope-item .has-mask {
	display: none;
}

.masonry-item .has-infos .title,.isotope-item .has-infos .title {
	
}

.masonry-item .has-infos .excerpt,.isotope-item .has-infos .excerpt {
	
}

.masonry-item .inner-item,.masonry-item .inner-item .video {
	position: relative;
	width: 100%;
	min-height: 70px;
}

.masonry-item .no-content,.isotope-item .no-content,.slider-item .no-content
	{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	background-color: rgba(239, 239, 239, 1);
}

.masonry-item .no-content {
	min-height: 150px;
}

.masonry-item.no-video .inner-item-wrapper{
	height: 100%;
}

.masonry-item .no-content i,.isotope-item .no-content i,.slider-item .no-content i
	{
	position: relative;
	top: -webkit-calc(50% -   0.5em);
	top: -moz-calc(50% -   0.5em);
	top: calc(50% -   0.5em);
	color: rgba(0, 0, 0, 1);
	letter-spacing: 1px;
	font-size: 2em;
}

.masonry-item.template-content .has-infos .title,.isotope-item.template-content .has-infos .title
	{
	font-size: 1.5rem;
	font-size: 16px;
}

.masonry-item.template-content .inner-item,.isotope-item.template-content .inner-item
	{
	border: none;
}

.masonry-wall-filters,.isotope-wall-filters {
	font-size: 14px;
	padding: 12px 0 0 0;
}

/**
	* SLIDER
*/

/**
	* SIDE BOXES
*/
#side-sortables .custom-fields-section {
	padding: 0;
}

#side-sortables .custom-fields-section-content .fields {
	margin-left: 0;
}

#side-sortables .custom-fields-section {
	border-bottom: none;
}

#gallery-presentation-setup {
	padding: 12px 0;
}

/**
	* MODAL BOX
*/
.woodkit-modal-box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 100000;
}

.woodkit-modal-box-content {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 73px;
	background: #fff;
	padding: 12px;
	z-index: 101000;
	overflow: scroll;
}

.woodkit-modal-box-content .column-left {
	position: fixed;
	top: 30px;
	left: 30px;
	bottom: 30px;
	width: 200px;
	border-right: 1px solid #ccc;
	background: #f3f3f3;
	overflow: auto;
	outline: 0;
}

.woodkit-modal-box-content .column-right {
	position: fixed;
	top: 30px;
	left: 230px;
	right: 30px;
	bottom: 73px;
	padding: 12px;
	overflow: auto;
	outline: 0;
}

.woodkit-modal-box-footer {
	position: fixed;
	height: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 6px;
	border-top: 1px solid #ccc;
	background: #f3f3f3;
	z-index: 102000;
}

.woodkit-modal-box-footer .button {
	float: right;
	margin-left: 6px;
}

.woodkit-modal-box-close {
	position: fixed;
	top: 30px;
	right: 30px;
	padding: 12px;
	color: #666;
	cursor: pointer;
	font-size: 1rem;
	z-index: 102000;
}

/**
	* POSTPICKER
*/
#postpicker {
	z-index: 130000;
}

#postpicker-content {
	z-index: 140000;
}

#postpicker-close {
	z-index: 150000;
}

#postpicker-content .column.column-left {
	
}

#postpicker-content .column.column-right {
	
}

#postpicker-content .post-type-selector {
	text-align: center;
	text-transform: uppercase;
	padding: 12px;
	font-size: 0.8rem;
	font-weight: bold;
	border: 1px solid #ccc;
	background: #eee;
	margin: 6px -1px 0 24px;
	cursor: pointer;
}

#postpicker-content .post-type-selector:first-child {
	margin-top: 24px;
}

#postpicker-content .post-type-selector.selected {
	background: #fff;
	border-right-color: #fff;
}

#postpicker-content .post-item {
	position: relative;
	width: 180px;
	height: 180px;
	border: 3px solid #fff;
	margin: 0 12px 12px 0;
	float: left;
	cursor: pointer;
	overflow: hidden;
}

#postpicker-content .post-item.selected {
	border-color: #0073aa;
}

#postpicker-content .post-item .selected-box {
	display: none;
	position: absolute;
	top: -1px;
	right: -1px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.95);
	border: 3px solid #0073aa;
	border-top: none;
	border-right: none;
}

#postpicker-content .post-item.selected .selected-box {
	display: block;
	text-align: center;
}

#postpicker-content .post-item .selected-box i.added,#postpicker-content .post-item .selected-box i.remove
	{
	color: #0073aa;
	font-size: 1.5rem;
	display: block;
	padding: 2px 0 0 0;
}

#postpicker-content .post-item .selected-box i.remove {
	padding: 4px 0 0 0;
}

#postpicker-content .post-item .selected-box i.remove {
	display: none;
}

#postpicker-content .post-item:hover .selected-box i.added {
	display: none;
}

#postpicker-content .post-item:hover .selected-box i.remove {
	display: block;
}

#postpicker-content .post-item.selected .selected-box {
	display: block;
}

#postpicker-content .post-item .selectable-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#postpicker-content .post-item article {
	border: 1px solid #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#postpicker-content .post-item.selected article {
	border-color: #fff;
}

#postpicker-content .post-item article .thumb,#postpicker-content .post-item article .video
	{
	width: 100%;
	height: 100%;
}

#postpicker-content .post-item article .title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 1rem;
	background: #fff;
	border-top: 1px solid #555;
	color: #000;
	margin: 0;
	padding: 6px;
	text-align: center;
}

#postpicker-content .post-item article .excerpt {
	font-size: 0.7rem;
	color: #000;
	margin: 0;
	padding: 6px;
}

#postpicker-content .post-item .add {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	padding: 76px 0 0 0;
	text-align: center;
	font-size: 1rem;
	color: #000;
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

#postpicker-content .post-item:hover .add {
	opacity: 1;
}

#postpicker-ordering {
	display: none;
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 73px;
	border: 3px solid #0073aa;
	padding: 12px;
	z-index: 160000;
}

#postpicker-ordering #postpicker-ordering-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	padding: 24px;
	overflow: auto;
}

#postpicker-ordering #postpicker-ordering-content #postpicker-ordering-close
	{
	position: absolute;
	top: 0px;
	right: 0;
	padding: 12px;
	color: #666;
	cursor: pointer;
	font-size: 1rem;
}

#postpicker-ordering #postpicker-ordering-content #postpicker-ordering-list
	{
	margin: 0;
	padding: 0;
}

#postpicker-ordering #postpicker-ordering-content #postpicker-ordering-list .order-item
	{
	border: 1px solid #000;
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 12px 12px 0;
	float: left;
	cursor: move;
	overflow: hidden;
}

#postpicker-ordering #postpicker-ordering-content #postpicker-ordering-list .order-item article
	{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#postpicker-ordering #postpicker-ordering-content #postpicker-ordering-list .order-item .thumb,#postpicker-ordering #postpicker-ordering-content #postpicker-ordering-list .order-item .video
	{
	width: 100%;
	height: 100%;
}

#postpicker-ordering #postpicker-ordering-content #postpicker-ordering-list .order-item .title
	{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 1rem;
	background: #fff;
	border-top: 1px solid #555;
	color: #000;
	margin: 0;
	padding: 6px;
	text-align: center;
}

#postpicker-ordering #postpicker-ordering-content #postpicker-ordering-list .order-item .excerpt
	{
	font-size: 0.7rem;
	color: #000;
	margin: 0;
	padding: 6px;
}

#postpicker-ordering #postpicker-ordering-content #postpicker-ordering-list .order-item .mask
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/**
 * ICONPICKER
 */
#iconpicker {
	z-index: 130000;
}
#iconpicker .title {
	padding: 12px;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 22px;
}

#iconpicker-content {
	z-index: 140000;
}

#iconpicker-close {
	z-index: 150000;
}

#iconpicker .icon-item {
	display: inline-block;
	width: 40px;
	height: 36px;
	margin: 3px 1px;
	padding: 0;
	text-align: center;
	border-color: #999;
}

#iconpicker .icon-item i {
	font-size: 15px;
	line-height: 36px;
}

/**
 * PRIVATE TOOL
 */
#tool-private-settings {
	
}

#tool-private-settings ul {
	margin: 0 0 0 12px;
}

#tool-private-settings ul li {
	margin: 6px 0;
}