@CHARSET "UTF-8";

/****************************
 * Tools
 ***************************/

/**
 * Tool Breadcrumb
 */
.tool-breadcrumb{
	list-style: none;
	padding: 0;
	margin: 0;
}
.tool-breadcrumb li{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
.tool-breadcrumb li.breadcrumb-item{
	display: inline-block;
}
.tool-breadcrumb li.breadcrumb-item > a{
	display: inline-block;
	padding: 6px 12px;
	margin: 0;
}

/**
 * Tool Cookies
 */
.cookies-legislation-container {
	position: fixed;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	color: #fff;
	width: auto;
	height: auto;
	font-size: 0.8em;
	font-weight: normal;
	padding: 12px;
	z-index: 9999;
}
.cookies-legislation-container #cookies-accept-condition {
	position: absolute;
	right: 12px;
	bottom: 6px;
	font-size: 1em;
	font-weight: normal;
	border: 1px solid #fff;
	color: #fff;
	background: #000;
}
.cookies-legislation-container #cookies-accept-condition:hover {
	background: #fff;
	color: #000;
}
.cookies-legislation-container a {
	color: #fff;
	text-decoration: underline;
}

/**
 * Tool GoogleMaps
 */
.googlemaps-canvas{
	max-width:none!important;
	background:none!important;
}

/**
 * Tool Media
 */
.fancybox-title{
	text-align: center;
}
.fancybox-skin {
	border-radius: 0;
}
.fancybox-title-inside-wrap {
	padding: 0.25em 0;
}
.fancybox-close {
	display: none;
}
.fancybox-title h1 {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
.fancybox-title div {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

/**
 * Tool Private
 */
.private-logout {
    position: fixed;
    right: 12px;
    top: 12px;
    z-index: 1000;
}
body.admin-bar .private-logout {
    top: 44px;
}

/**
 * Tool Secure
 */
.woocommerce-billing-fields .captcha-error { /** do not display captcha-error field on woocommerce checkout-register form (double message) */
	display: none;
}

.wpcf7 .captcha-error { /** do not display captcha-error field on contact form 7 (double message) */
	display: none;
}
.tool-secure-input-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}
.login .tool-secure-input-wrapper {
	padding-bottom: 0;
}
.tool-secure-input-wrapper .tool-secure-input {
	
}
.tool-secure-input-wrapper .tool-secure-show-info {
	position: absolute;
	display: none;
	top: 1px;
	right: 10px;
	bottom: 1px;
	background-color: transparent;
	cursor: pointer;
	width: 50px;
	text-align: center;
	padding: 17px 0 0 0;
	color: rgb(109, 109, 109);
	font-size: 1.5rem;
}
.login .tool-secure-input-wrapper .tool-secure-show-info {
	padding: 20px 0 0 0;
	font-size: 1.3rem;
}
.tool-secure-input-wrapper .tool-secure-info-text {
	display: none;
}
.login .tool-secure-input-wrapper .tool-secure-info-text {
	color: #fff;
	padding-bottom: 3px;
}

/**
 * Tool Shortcodes
 */
.shortcode-columns {
	position: relative;
	float: left;
	display: inline-block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.shortcode-columns+p {
	display: none; /* for automatic empty <p/> generate by WP */
}
.shortcode-columns.col_clear {
	float: none;
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 100%;
	overflow: hidden;
}
.col_one {
	width: 100%;
	float: none;
	clear: both;
	display: block;
}
.col_one_half {
	width: 50%;
}
.col_one_third {
	width: 33.3%;
}
.col_two_third {
	width: 66.6%;
}
.col_one_fourth {
	width: 25%;
}
.col_three_fourth {
	width: 75%;
}
.col_one_fifth {
	width: 20%;
}
.col_two_fifth {
	width: 40%;
}
.col_three_fifth {
	width: 60%;
}
.col_four_fifth {
	width: 80%;
}
.col_one_sixth {
	width: 16.6%;
}
.col_five_sixth {
	width: 83.4%;
}
@media screen and (max-width:800px) {
	.col_one,.col_one_half,.col_one_third,.col_two_third,.col_one_fourth,.col_three_fourth,.col_one_fifth,.col_two_fifth,.col_three_fifth,.col_four_fifth,.col_one_sixth,.col_five_sixth{
		clear: both;
		float: none;
		display: block;
		width: 100%;
	}
}

/**
 * Tool Splashscreen
 */
#splashscreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	z-index: 10000;
}
#splashscreen #splashscreen-text {
	position: absolute;
	bottom: 50%;
	left: 0;
	right: 0;
	text-align: center;
}

/**
 * Tool Wip
 */
body.wip {
	margin: 0;
	text-align: center;
	font-family: Helvetica;
	background: #000;
}
#wip-page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	color: #fff;
	/* flex */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
#wip-page-content{
	margin: 0 auto;
	max-width: 348px;
	padding: 24px;
    /* flex */
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
}
#wip-page-content h1 {
	font-size: 20px;
	margin: 0 0 1.2rem 0;
	color: #fff;
}
#wip-page-content .wip-message {
	font-size: 14px;
	margin: 24px 0;
}

/**
 * Modal Box
 */
#modalbox{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	background-color: rgba(0,0,0,0.9);
	padding: 0;
	z-index: 999;
}
#modalbox #modalbox-wrapper{
    width: 100%;
    padding: 48px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
	-ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    /* flex container */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
#modalbox #modalbox-wrapper #modalbox-content{
    /* flex */
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
}
#modalbox #modalbox-wrapper #modalbox-close{
   position: absolute;
   top: 24px;
   right: 24px;
   color: #fff;
   font-size: 22px;
   cursor: pointer;
}
#modalbox #modalbox-wrapper #modalbox-content iframe{
    width: 900px;
    height: 700px;
}
@media screen and (max-width: 1024px) {
	#modalbox #modalbox-wrapper #modalbox-content iframe{
	    width: 768px;
	    height: 500px;
	}
}
@media screen and (max-width: 800px) {
	#modalbox #modalbox-wrapper{
	    padding: 24px;
	}
	#modalbox #modalbox-wrapper #modalbox-content iframe{
	    width: 600px;
	    height: 400px;
	}
}
@media screen and (max-width: 600px) {
	#modalbox #modalbox-wrapper #modalbox-content iframe{
	    width: 540px;
	    height: 400px;
	}
}
@media screen and (max-width: 580px) {
	#modalbox #modalbox-wrapper{
	    padding: 12px;
	}
	#modalbox #modalbox-wrapper #modalbox-content iframe{
	    width: 300px;
	    height: 200px;
	}
}
@media screen and (max-width: 400px) {
	#modalbox #modalbox-wrapper #modalbox-content iframe{
	    width: 200px;
	    height: 160px;
	}
}

/****************************
 * Divi
 ***************************/
/**
 * Divi modules - Icon button
 */
.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button{
	/* flex */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button .woodkit_et_pb_icon{
	display: block;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 200ms linear !important;
    -moz-transition: all 200ms linear !important;
    -o-transition: all 200ms linear !important;
    -ms-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
	/* flex */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    /* flex */
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
}

.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button .woodkit_et_pb_icon i{
    /* flex */
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
	/* color transition */
	-webkit-transition: color 200ms linear !important;
    -moz-transition: color 200ms linear !important;
    -o-transition: color 200ms linear !important;
    -ms-transition: color 200ms linear !important;
    transition: color 200ms linear !important;
}

.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button_content{
	padding: 0 0 12px 0 !important;
	margin: 0 auto !important;
}

.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button_content .title,
.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button_content .text{
	padding: 18px 0 0 0 !important;
	-webkit-transition: color 200ms linear !important;
    -moz-transition: color 200ms linear !important;
    -o-transition: color 200ms linear !important;
    -ms-transition: color 200ms linear !important;
    transition: color 200ms linear !important;
}

/**
 * Divi modules - Contact Form 7
 */

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 table,.wpcf7 table tr,
#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 table tr td {
	margin: 0;
	padding: 0;
	border: none;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 table tr td {
	padding: 12px 0;
	position: relative;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="text"],
#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="password"],
#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="number"],
#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="submit"],
#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="email"],
#et_builder_outer_content .woodkit_et_pb_contactform7 textarea {
    height: auto;
    border: 1px solid #777;
	padding: 0 12px;
	line-height: 1.5;
	min-height: 40px;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 textarea {
	padding: 12px;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 span.wpcf7-not-valid-tip{
	color: #f00;
	padding-top: 6px;
	display: block;
	margin-top: 12px;
	font-weight: 200;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7  div.wpcf7-mail-sent-ok {
	border: none;
	font-weight: 300;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7  div.wpcf7-mail-sent-ok:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f00c";
	margin-right: 6px;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7  div.wpcf7-validation-errors {
	border: none;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 .wpcf7-not-valid-tip:before,
#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 div.wpcf7-validation-errors:before
	{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f00d";
	margin-right: 6px;
}

/**
 * Divi Modules - Woodkit Wall (Fullwidth or not)
 */
.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall_integration .masonry-item .has-mask,
.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall_integration .isotope-item .has-mask,
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_section .woodkit_et_pb_fullwidth_wall_integration .masonry-item .has-mask,
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_section .woodkit_et_pb_fullwidth_wall_integration .isotope-item .has-mask {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	border: none;
	z-index: 1;
	overflow: hidden;
	color: #000;
	background-color: rgba(255, 255, 255, 0.75);
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	width: 100%;
	height: 100%;
	text-align: center;
	/* flex */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall_integration .masonry-item a:hover .has-mask,
.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall_integration .isotope-item a:hover .has-mask,
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_section .woodkit_et_pb_fullwidth_wall_integration .masonry-item a:hover .has-mask,
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_section .woodkit_et_pb_fullwidth_wall_integration .isotope-item a:hover .has-mask {
	opacity: 1;
	-moz-transition: all 0.8s ease-in-out 0s;
	-ms-transition: all 0.8s ease-in-out 0s;
	-webkit-transition: all 0.8s ease-in-out 0s;
	transition: all 0.8s ease-in-out 0s;
}

.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall_integration .masonry-item .has-mask .title,
.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall_integration .isotope-item .has-mask .title,
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_section .woodkit_et_pb_fullwidth_wall_integration .masonry-item .has-mask .title,
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_section .woodkit_et_pb_fullwidth_wall_integration .isotope-item .has-mask .title {
	position: relative;
	font-size: 1.2rem;
	font-weight: 400;
	text-transform: uppercase;
	top: auto;
	 /* flex */
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
}