@CHARSET "UTF-8";

/**
 * do not display captcha-error field on woocommerce checkout-register form (double message) 
 */
.woocommerce-billing-fields .captcha-error {
	display: none;
}

/**
 * do not display captcha-error field on contact form 7 (double message) 
 */
.wpcf7 .captcha-error {
	display: none;
}

/**
 * CAPTCHA INFO
 */
.tool-secure-input-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

.login .tool-secure-input-wrapper {
	padding-bottom: 0;
}

.tool-secure-input-wrapper .tool-secure-input {
	
}

.tool-secure-input-wrapper .tool-secure-show-info {
	position: absolute;
	display: none;
	top: 1px;
	right: 10px;
	bottom: 1px;
	background-color: transparent;
	cursor: pointer;
	width: 50px;
	text-align: center;
	padding: 17px 0 0 0;
	color: rgb(109, 109, 109);
	font-size: 2rem;
}

.login .tool-secure-input-wrapper .tool-secure-show-info {
	padding: 20px 0 0 0;
	font-size: 1.3rem;
}

.tool-secure-input-wrapper .tool-secure-info-text {
	display: none;
}

.login .tool-secure-input-wrapper .tool-secure-info-text {
	color: #fff;
	padding-bottom: 3px;
}