/*****************************************************************
 * WKG General
 *****************************************************************/
[class^="wkg-"].shadow, [class*=" wkg-"].shadow {
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50,50,50,0.40);
	-moz-box-shadow: 0px 0px 6px 0px rgba(50,50,50,0.40);
	box-shadow: 0px 0px 6px 0px rgba(50,50,50,0.40);
}
[class^="wkg-"].rounded, [class*=" wkg-"].rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
[class^="wkg-"].round, [class*=" wkg-"].round {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.wkg-item {
	padding: 12px 0;
}
*[data-align='full'] .wkg-item {
	padding: 12px;
}
.wkg-item .wkg-title {
	margin-bottom: 6px;
	font-size: 14px !important;
	text-transform: uppercase;
	color: #bbbbbb !important;
}
.wkg-item .wkg-info {
	position: relative;
	margin-bottom: 6px;
	font-size: 11px !important;
	color: #999999 !important;
	font-style: italic;
}
.wkg-item .wkg-title .wkg-info {
	text-transform: none !important;
	margin-left: 6px;
	color: #bbbbbb !important;
}
.wkg-item .wkg-info i{
	font-size: 11px !important;
	margin-right: 6px;
}
.wkg-item .wkg-content {}
/*****************************************************************
 * WKG Block InspectorControls
 *****************************************************************/
.wkg-ic {

}
.wkg-ic-panelbody {
	position: relative;
}
.wkg-ic-panelrow {
	display: block;
}
.wkg-ic-panelrow .wkg-info {
	position: relative;
	margin-bottom: 6px;
	color: #999999 !important;
	font-style: italic;
}
.wkg-ic-panelrow .components-range-control .components-base-control__field {
	display: block;
}
/*****************************************************************
 * WKG Card
 *****************************************************************/
.wkg-card {
  background: #ffffff;
	border: 1px solid #eeeeee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
  position: relative;
}
.wkg-card .header {
	padding: 6px 12px;
	background: #f8f8f8;
	border-bottom: 1px solid #dddddd;
}
.wkg-card .content {
	padding: 6px 12px;
}
.wkg-card .footer {
	padding: 3px 12px;
	background: #fcfcfc;
	border-top: 1px solid #f8f8f8;
	font-size: 12px;
}

/*****************************************************************
 * WKG Button
 *****************************************************************/
.wkg-btn {
	display: inline-block;
	cursor: pointer;
  color: inherit;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
  padding: 1px 12px 0 12px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  position: relative;
  text-shadow: none;
  overflow: hidden;
  transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.wkg-btn.small {
	padding: 1px 6px 0 6px;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
}
.wkg-btn.large {
	padding: 1px 18px 0 18px;
	font-size: 16px;
	height: 48px;
	line-height: 48px;
}
.wkg-btn:hover,
.wkg-btn:focus,
.wkg-btn:active {
	outline: inherit;
  background: #f5f5f5;
}
/* text with icon */
.wkg-btn > i.before {
 margin-right: 9px;
}
.wkg-btn > i.after {
 margin-left: 9px;
}
/* icon only */
.wkg-btn.icon {
	padding: 1px 11px 0 11px;
}
.wkg-btn.icon.small {
	padding: 1px 6px 0 6px;
}
.wkg-btn.icon.large {
 	padding: 1px 16px 0 16px;
}
/* primary */
.wkg-btn.primary {
  background-color: #1989c1;
	color: #FFFFFF;
}
.wkg-btn.primary:hover, .wkg-btn.primary:focus, .wkg-btn.primary:active {
  background-color: #1a7cad;
}
/* secondary */
.wkg-btn.secondary {
  background-color: #eeeeee;
}
.wkg-btn.secondary:hover, .wkg-btn.secondary:focus, .wkg-btn.secondary:active {
  background-color: #dddddd;
}
/* valid */
.wkg-btn.valid {
  background-color: #00C3AA;
	color: #FFFFFF;
}
.wkg-btn.valid:hover, .wkg-btn.valid:focus, .wkg-btn.valid:active {
  background-color: #0aa692;
}
/* cancel */
.wkg-btn.cancel {
  background-color: #878d94;
	color: #FFFFFF;
}
.wkg-btn.cancel:hover, .wkg-btn.cancel:focus, .wkg-btn.cancel:active {
  background-color: #697078;
}
/* delete */
.wkg-btn.delete {
  background-color: #db4650;
	color: #FFFFFF;
}
.wkg-btn.delete:hover, .wkg-btn.delete:focus, .wkg-btn.delete:active {
  background-color: #b8353e;
}
/* delete */
.wkg-btn.warning {
  background-color: #fcee4c;
	color: #000000;
}
.wkg-btn.warning:hover, .wkg-btn.warning:focus, .wkg-btn.warning:active {
  background-color: #f0e34d;
}
/* dark */
.wkg-btn.dark {
  background-color: #222222;
	color: #ffffff;
}
.wkg-btn.dark:hover, .wkg-btn.dark:focus, .wkg-btn.dark:active {
  background-color: #333333;
}
/* light */
.wkg-btn.light {
  background-color: #F1F1F1;
}
.wkg-btn.light:hover, .wkg-btn.light:focus, .wkg-btn.light:active {
  background-color: #E1E1E1;
}
/* link */
.wkg-btn.link {
	color: #1989c1;
}
.wkg-btn.link:hover, .wkg-btn.link:focus, .wkg-btn.link:active {
	text-decoration: underline;
  background-color: #ffffff;
}
