/**
 * @package Woodkit
 * @author Sébastien Chandonay www.seb-c.com / Cyril Tissot www.cyriltissot.com
 * License: GPL2
 * Text Domain: woodkit
 *
 * Copyright 2016 Sébastien Chandonay (email : please contact me from my website)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 2, as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 */
 
/**
 * General
 */
.et-pb-option .et-pb-option-container .button{
	padding: 8px 20px 10px 20px !important;
	background-color: #008BDB !important;
}
.et-pb-option-container .wp-media-buttons .button{
	line-height: normal !important;
}

.iris-picker .iris-strip{
	width: 16px !important;
}

/**
 * Font Icon renderer
 */
#et_pb_module_icon{
	display: none;
}

#woodkit-et-font-icon-choose{
	display: inline-block;
}

#woodkit-et-font-icon-preview{
	width: 102px;
	height: 18px;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 0;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: #F1F5F9;
    padding: 12px 0 11px 0;
    margin-left: 6px;
    font-size: 14px;
}

#woodkit-et-font-icon-preview i{
    color: #32373c;
	font-size: 28px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
}

/**
 * Divi modules - Icon button
 */
.et-pb-all-modules > li.woodkit_et_pb_icon_button:before{
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\f188";
}

/**
 * Divi modules - Contact Form 7
 */
.et-pb-all-modules > li.woodkit_et_pb_contactform7:before{
    font-family: dashicons;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\f465";
}

/**
 * Divi modules - Wall
 */
.et-pb-all-modules > li.woodkit_et_pb_wall:before{
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\f00a";
}

/**
 * Divi modules - Wall Fullwidth
 */
.et-pb-all-modules > li.woodkit_et_pb_fullwidth_wall:before{
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\f00a";
}

