/**
 * @package Woodkit
 * @author Sébastien Chandonay www.seb-c.com / Cyril Tissot www.cyriltissot.com
 * License: GPL2
 * Text Domain: woodkit
 *
 * Copyright 2016 Sébastien Chandonay (email : please contact me from my website)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 2, as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 */

/**
 * Divi modules - Icon button
 */
.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button{
	display: block;
	position: relative;
	width: 150px;
	height: 150px;
	margin: 0 auto !important;
	overflow: hidden;
	/* background transition */
	-webkit-transition: background-color 200ms linear !important;
    -moz-transition: background-color 200ms linear !important;
    -o-transition: background-color 200ms linear !important;
    -ms-transition: background-color 200ms linear !important;
    transition: background-color 200ms linear !important;
	/* color transition */
	-webkit-transition: border-color 200ms linear !important;
    -moz-transition: border-color 200ms linear !important;
    -o-transition: border-color 200ms linear !important;
    -ms-transition: border-color 200ms linear !important;
    transition: border-color 200ms linear !important;
    /* flex */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button i{
	/* color transition */
	-webkit-transition: color 200ms linear !important;
    -moz-transition: color 200ms linear !important;
    -o-transition: color 200ms linear !important;
    -ms-transition: color 200ms linear !important;
    transition: color 200ms linear !important;
    /* flex */
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
}

.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button_content{
	max-width: 150px;
	padding: 12px 0 !important;
	margin: 0 auto !important;
}

.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button_content .title,
.woodkit_et_pb_icon_button_wrapper .woodkit_et_pb_icon_button_content .text{
	-webkit-transition: color 200ms linear !important;
    -moz-transition: color 200ms linear !important;
    -o-transition: color 200ms linear !important;
    -ms-transition: color 200ms linear !important;
    transition: color 200ms linear !important;
}

/**
 * Divi modules - Contact Form 7
 */

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 table,.wpcf7 table tr,
#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 table tr td {
	margin: 0;
	padding: 0;
	border: none;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 table tr td {
	padding: 12px 0;
	position: relative;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="text"],
#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="password"],
#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="number"],
#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="submit"],
#et_builder_outer_content .woodkit_et_pb_contactform7 input[type="email"],
#et_builder_outer_content .woodkit_et_pb_contactform7 textarea {
    height: auto;
    border: 1px solid #777;
	padding: 0 12px;
	line-height: 1.5;
	min-height: 40px;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 textarea {
	padding: 12px;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 span.wpcf7-not-valid-tip{
	color: #f00;
	padding-top: 6px;
	display: block;
	margin-top: 12px;
	font-weight: 200;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7  div.wpcf7-mail-sent-ok {
	border: none;
	font-weight: 300;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7  div.wpcf7-mail-sent-ok:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f00c";
	margin-right: 6px;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7  div.wpcf7-validation-errors {
	border: none;
}

#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 .wpcf7-not-valid-tip:before,
#et_builder_outer_content .woodkit_et_pb_contactform7 .wpcf7 div.wpcf7-validation-errors:before
	{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f00d";
	margin-right: 6px;
}

/**
 * Divi Modules - Woodkit Wall
 */
.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall .masonry-item .has-mask,
.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall .isotope-item .has-mask {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	border: none;
	z-index: 1;
	overflow: hidden;
	color: #000;
	background-color: rgba(255, 255, 255, 0.75);
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	width: 100%;
	height: 100%;
	text-align: center;
	/* flex */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall .masonry-item a:hover .has-mask,
.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall .isotope-item a:hover .has-mask {
	opacity: 1;
	-moz-transition: all 0.8s ease-in-out 0s;
	-ms-transition: all 0.8s ease-in-out 0s;
	-webkit-transition: all 0.8s ease-in-out 0s;
	transition: all 0.8s ease-in-out 0s;
}

.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall .masonry-item .has-mask .title,
.et_divi_builder #et_builder_outer_content .et_pb_row .woodkit_et_pb_wall .isotope-item .has-mask .title {
	position: relative;
	font-size: 1.2rem;
	font-weight: 400;
	text-transform: uppercase;
	top: auto;
	 /* flex */
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
}